<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>File Details</title>
		<link rel="icon" href="data:;base64,iVBORw0KGgo=" />
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<h1>File Details</h1>
		<div id="loadingAnimation">
			<% if (status === 0) { %>
			<div class="lds-roller">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<% } %>
		</div>
		<p id="fileStatus">
			<% if (status === 1) { %>
			<strong>File Name:</strong>
			<span style="font-style: italic"><%= fileName %></span>
			<br />
			<strong>File Type:</strong>
			<span style="font-style: italic">.<%= fileType %></span>
			<br />
			<a href="/download/<%= fileID %>" download>Download File</a>
			<% } else { %> File not found or invalid URL. Upload may be in progress,
			please wait. <% } %>
		</p>
		<script>
			function uploadStatusUpdate(status, alreadyAlerted = false) {
				if (status === "success") {
					if (!alreadyAlerted) {
						window.alert(
							"File uploaded successfully and ready for download! Click OK to view file."
						);
					}
					localStorage.removeItem("uploadStatus");
					window.location.reload();
				} else if (status === "failed") {
					window.alert(
						"File upload failed. Please ask the sender to upload again."
					);
					localStorage.removeItem("uploadStatus");
				}
			}

			var storedStatus = localStorage.getItem("uploadStatus");
			if (storedStatus) {
				uploadStatusUpdate(storedStatus, 1);
			}

			window.addEventListener("storage", function (event) {
				if (event.key === "uploadStatus") {
					uploadStatusUpdate(event.newValue);
				}
			});
		</script>
	</body>
</html>
