h1 {
    margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}


.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form input[type="file"] {
    margin-bottom: 10px;
}

#uploadStatus {
    margin-top: 10px;
}